<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>WebmessengerVerwaltungImpl</servlet-name>
    <servlet-class>de.hdm.Webmessenger.server.WebmessengerVerwaltungImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>WebmessengerVerwaltungImpl</servlet-name>
    <url-pattern>/Webmessenger/WebmessengerVerwaltung</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  	<servlet-name>LoginServiceImpl</servlet-name>
  	<servlet-class>de.hdm.Webmessenger.server.LoginServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>LoginServiceImpl</servlet-name>
	<url-pattern>/Webmessenger/login</url-pattern>
	
	</servlet-mapping>
  	
  	<security-constraint>
	<web-resource-collection>
	<web-resource-name>all</web-resource-name>
	<url-pattern>/*</url-pattern>
	</web-resource-collection>
	<auth-constraint>
	<role-name>*</role-name>
	</auth-constraint>
	</security-constraint>
  	
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Webmessenger.html</welcome-file>
  </welcome-file-list>

</web-app>
